<div class="row">
  <% @skills.each do |x|%>
  <div class="large-4 columns ">
    <div class="panel">
      <a href="/skills/<%= x.id %>"><img src="<%= x.icon_url %>"/></a>
      <h5><%= x.name %></h5>
      <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
      </div>
    </div>
  </div>
  <% end %>
</div>
