<div class="row">
  <div class="large-12 columns" role="content">
    <div class="panel">About Us</div>
    <p>Power Level is an application based off the idea of growing yourself in the skills that matter to you. We believe that if you wake up in the morning knowing that you are a better person than when you woke up the day before, you had a successful day.</p>

    <p>Additionally, Power Level is written by a nerd who loves Role Playing Games. Role Playing Games focus on allowing you to improve your character's skills to raise them from being a lowly peasent to a crusading knight. Why can't we look at life the same way?</p>

    <p>This application wouldn't have been possible without the help of some great friends! In particular, I'd like to thank my friends <a href="https://twitter.com/ClickclickkSal">Sal</a>, <a href="https://twitter.com/clarepolitan">Clare</a>, and <a href="http://mobjohnson.com/">Martin</a> for advising me on certain skills.</p>
  </div>

  <div class="large-12 columns" role="content">
    <div class="panel">Legal</div>
      <p>Power Level is in no way responsible for anything done while persuing quests hosted on this site. For instance, knocking someone out to achieve the final quest in First Aid, 'Transport Unconscious Patient', is illegal and ridiculous. Don't do anything to put yourself or anyone else in harms way!</p>

      <p>Icons used were made by Freepik, Icons8, SimpleIcon from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> and are licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0.</a></p>

    </div>
  </div>
</div>