<div class="row">
  <div class="large-12 columns" role="content">
    <div class="panel">About You</div>
    <p>So who are you anyway? I may be a lot less qualified to answer this question than you, but I'll give it a shot.</p>

    <p>If I were a betting man, I'd say you're awesome. You have a lot of interests, and a lot of skills. You're constantly seeking to improve those skills, to dive deeper into those interests. You're a master pianist, a yoga expert, maybe you can even say the alphabet backwards.</p>

    <p>You didn't get to where you are overnight. It wasn't handed to you. And you know that in order to get better at what you do and to learn new things it takes work and dedication. A little motivation here and there helps, and a pat on the back always feels good.</p>

    <p>If I'm right, you're in good company. What are you waiting for?</p>

    <a href="/users/sign_up" class="radius button">Join Us!</a>
  </div>
</div>