.closed {
  height: 150px;
  overflow: hidden;
}

#icon-selector img {
  width: 150px;
  height: 150px;
  margin: 5px;
}

.selected-icon {
  border: 5px solid green;
  border-radius: 5px;
}

.party {
  display: block;
}

.expanded-width {
  width: 100%;
}

.party-user-display {
  display: inline-block;
  margin-left: 5px;
}

.party-image {
  height: 100px;
  display: block;
}